<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="static/styles.css">
    <title>Cliente</title>
</head>
<body>
    <h2>Arquivos disponíveis</h2>
    <ul id="client_file_list"></ul>

    <h2>Subir arquivo</h2>
    <form id="upload_form" action="/upload" method="post">
        <label for="upload_file_name">Nome do arquivo:</label>
        <input type="text" id="upload_file_name" name="upload_file_name">
        <button type="submit">Upload</button>
    </form>

    <div id="message"></div>

    <script>
        fetch('/client_file_list')
            .then(response => response.json())
            .then(data => {
                const fileList = document.getElementById('client_file_list');
                data.forEach(file => {
                    const listItem = document.createElement('li');
                    listItem.textContent = file;
                    fileList.appendChild(listItem);
                });
            });

        document.getElementById('upload_form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const messageDiv = document.getElementById('message');
                messageDiv.textContent = data.message;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>